{% extends "base.html" %}

{% block content %}

<! -- {% from "forms/macros.html" import render_field %} -->

<form method="POST" action="." class="form">

  {{ form.csrf_token }}

  {{ render_field(form.name, class="form-control ") }}

  {{ render_field(form.email, class="form-control") }}

  {{ render_field(form.password, class="form-control") }}

  {{ render_field(form.confirm, class="form-control") }}



  <input type="submit" value="Register" class="button button-default">

</form>

<a href="{{ url_for('user.login') }}">Login</a>

{% endblock %}