<script src="/static/js/movie/info.js"> </script>
<script src="/static/js/movie/rating.js"> </script>
{% for row in rows %}
<div class="row">

  {% for movie in row %}
  {% if movie != None %}

  <div class="col-md-4">
    <div class="movie-buttons" onclick="get_movie_modal({{ movie['id'] }});">
      <img src=
      {% if movie['poster_path'] %}
      "https://image.tmdb.org/t/p/w150/{{ movie['poster_path'] }}"
      {% else %}
      "/static/img/image-not-found.png"
      {% endif %}
      height="150" width="150" />
      {% if movie['expected'] != None %}
      <h2>{{ movie['title'] }} ({{ movie['expected'] }})</h2>
      {% else %}
      <h2>{{ movie['title'] }} </h2>
      {% endif %}
      <p> release date : {{ movie['release_date'] }} </p>
      <br/>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endfor %}
<!-- Modal HTML -->
<div id="movie-info-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body" id="movie-info-modal-body" >
        <p class="text-warning">
          Loading...
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

