{% extends "base.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    {% if 'user_id' in session %}
    <h1>Welcome, {{ user.name }} !</h1>
    {% else %}
    <h1>Welcome</h1>
    <p> Please signin for more </p>
    {% endif %}
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->

  {% for row in rows %}
  <div class="row">

    {% for movie in row %}
    {% if movie != None %}

    <div class="col-md-4">
      <a href="{{ url_for('movie.movie_info', id=movie.id) }}" >
        <img src=
        {% if movie['poster_path'] %}
        "https://image.tmdb.org/t/p/w150/{{ movie['poster_path'] }}"
        {% else %}
        "/static/img/image-not-found.png"
        {% endif %}
        height="150" width="150" href='/movie/{{ movie["id"] }}/' />
      </a>

      <h2>{{ movie['title'] }}</h2>
      <p> release date : {{ movie['release_date'] }} </p>
      <p><a class="btn btn-default" href="{{ url_for('movie.movie_info', id=movie.id) }}" role="button">View details &raquo;</a></p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}

  <hr>
  <footer>
    <p>&copy; Company 2014</p>
  </footer>

</div> <!-- /container -->


{% endblock %}

