{% extends "base.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    {% if 'user_id' in session %}
    <h1>Welcome, {{ user.name }} !</h1>
    <p> Your teams: 

      {% for team in user.teams %}
      {{ team.name }} ,
      {% endfor %}
    </p>

    {% else %}
    <h1>Welcome</h1>
    <p> Please signin for more </p>
    {% endif %}
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->

  {% for row in rows %}
  <div class="row">

    {% for team in row %}
    {% if team != None %}

    <div class="col-md-4">
      <h2>{{ team.name }}</h2>
      <p> Team created by in {{ team.created_at}} </p>

      <p> Team Members:
        {% for memberName in team.memberNames %}
        {{ memberName}} 
        {% endfor %}
      </p>
      <p><a class="btn btn-default" href="{{ url_for('team.team_page', teamid=team.id) }}" role="button">View details &raquo;</a></p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}

  <hr>
  <footer>
    <p>&copy; Company 2014</p>
  </footer>

</div> <!-- /container -->


{% endblock %}

