{% extends "base.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    {% if 'user_id' in session %}
    <h1>Welcome, {{ user.name }} !</h1>
    <p><a class="btn btn-primary btn-lg" href= '{{ url_for("user.user_profile", userid=session["user_id"]) }}' role="button">My page&raquo;</a></p>
    {% else %}
    <h1>Welcome</h1>
    <p> Please signin for more </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    {% endif %}
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <h2> Popular Movie List </h2>
  {% include 'movie/list.html' %}
  <hr>
  <footer>
    <p>&copy; Company 2014</p>
  </footer>


</div> <!-- /container -->
{% endblock %}


